.forgot-password {
    background-image: url('/assets-img/log-in.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .password-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
  }
  
  .password-form h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .password-form p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
  }






  .input-wrapper {
    margin-bottom: 1.5rem;
  }
  
  .input-wrapper label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    display: block;
  }
  
  .email-input, .password-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative; /* Tambahkan posisi relatif */
  }
  
  .icon {
    color: #888;
    margin-right: 0.5rem;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.5rem;
  }
  
  .eye-icon {
    cursor: pointer;
    color: #888;
    margin-left: 0.5rem;
    right: 10px; /* Posisikan di sebelah kanan input */
    display: flex;
  }
  




  
  
  .input-wrapper label {
    margin-bottom: 5px;
    text-align: left;
  }
  
  
  
  .password-input .icon {
    margin-right: 5px;
  }
  
  .password-input input {
    width: 100%;
    border: none;
    outline: none;
  }
  
  .password-input .eye-icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
  }
  
  .submit-btn {
    background-color: #EB395F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #d33355;
  }
  