.confirmation-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 180px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2);

    text-align: center;
}

.headerConfirmation {
    margin-bottom: 20px;
}

.headerConfirmation p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.whatsapp-button {
    background-color: #3C905A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    margin-top: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.total {
    font-size: 16px;
    font-weight: bold;
    color: #ff5e5e;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff5e5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .confirmation-container {
        width: 80%;
        padding: 15px;
    }

    .headerConfirmation p {
        font-size: 18px;
    }

    .whatsapp-button, .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .confirmation-container {
        width: 100%;
        padding: 10px;
    }

    .headerConfirmation p {
        font-size: 16px;
    }

    .whatsapp-button, .submit-btn {
        padding: 8px;
        font-size: 12px;
    }

    .form-group input,
    .form-group select {
        font-size: 12px;
        padding: 8px;
    }
}
