.App{
  position: relative;
  overflow-x: clip;
}
.App>:nth-child(1)
{
  background: var(--salmon-gradient);
  position: relative;
}
.white-gradient{
  position: absolute;
  width: 30rem;
  height: 20rem;
  background: #ffdadf;
  filter: blur(100px);
  border-radius: 100px;
}